@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
	font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
	line-height: 1.5;
	font-weight: 400;
	color-scheme: light dark;
	color: #f8fafc;
	background-color: #1e293b;
	font-synthesis: none;
	text-rendering: optimizelegibility;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	text-size-adjust: 100%;
}

a {
	font-weight: 500;
	color: red;
	text-decoration: inherit;
}

body {
	margin: 0;
	place-items: center;
	min-width: 320px;
	min-height: 100vh;
}

h1 {
	font-size: 3.2em;
	line-height: 1.1;
}

h2 {
	font-size: 2em;
	line-height: 1.1;
}

h3 {
	font-size: 1.4em;
}

.select,
.textarea,
.input {
	background-color: #213547;
}

.input:focus {
	border: none;
}

.btn,
.label-text {
	color: #f8fafc;
}

@media (prefers-color-scheme: light) {
	:root {
		color: #213547;
		background-color: #fff;
	}

	a:hover {
		color: #747bff;
	}

	button {
		font-weight: bolder;
		background-color: #f9f9f9;
	}
}

.spinner {
	/* Size */
	height: 4rem;
	width: 4rem;

	/* Create a curve at the top */
	border: 4px solid #d1d5db;
	border-top-color: #3b82f6;
	border-radius: 50%;
	animation: spinner 800ms linear infinite;
}

@keyframes spinner {
	from {
		transform: rotate(0deg);
	}

	to {
		transform: rotate(360deg);
	}
}

@media (max-width: 720px) {
	.categoryList {
		overflow-x: scroll;
	}
}
